@import "./base.css";

:root {
    --app-dark-bg: #1a1d28;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
    --app-golden: #ceb700;
    --app-golden-hover: #baa600;
}


.container {
    width: min(100% - 30px, 1380px);
    margin-inline: auto;
}


/* ----------------------------------------------- */
/*               HERO BANNER                       */
/* ----------------------------------------------- */

.hero-banner {
    background-image: url(../img/christina-wocintechchat-com-vzfgh3RAPzM-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% 100%;
    height: 60vh;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
}

.overlap-hero-banner {
    width: 100%;
    height: 60vh;
    background-color: rgba(94, 91, 98, 0.6);
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px -16px 10px -10px;
}

/* ----------------------------------------------- */
/*               HEADER                       */
/* ----------------------------------------------- */
header {
    width: 100%;
    height: 56px;
    display: flex;
    position: absolute;
}

.flexbox {
    display: flex;
}

.heading h1 {
    color: #f0f2f4;
    font-size: 30px;
}

.heading {
    margin: 10px 0;
}

nav {
    margin: 20px 0;
}

.heading,
nav {
    width: 50%;
}

nav ul {
    text-align: right;
}

nav ul li {
    display: inline;
    font-size: 20px;
}

header ul li a {
    text-decoration: none;
    font-weight: 600;
    color: #fafafa;
    transition: color 0.25s ease-in-out;
}

header nav ul li a:hover {
    color: #fafafa;
    box-shadow: 0px 1px 0px #fafafa;
    transition: box-shadow 0.25s ease-in-out;
}

nav li+li {
    margin-left: 10px;
}

.bar-menu {
    color: #fafafa;
    display: none;
}

@keyframes trans {
    from {
        opacity: 0;
        transform: translatey(40px);
    }

    to {
        opacity: 1;
        transform: translatey(0px);
    }
}

div .title {
    margin-inline: auto;
    color: #fafafa;
    text-decoration: solid;
    text-shadow: 0px 2px 2px #352a4f;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: trans 0.5s ease-in;
}

div .title figure img {
    box-shadow: none;
}

div .title h1 {
    font-size: 40px;
    font-weight: 600;
}

div .title p {
    font-size: 25px;
}

/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/*  Form                                                 */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - */
div.wrapper {
    width: 400px;
    margin-inline: auto;
    margin-top: 40px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    height: 80%;
}

.wrapper h1 {
    color: var(--app-dark-bg);
    text-decoration: underline #baa600;
    margin-left: 20px;
}

.wrapper p {
    color: rgba(26, 29, 40, 0.5);
    margin-left: 20px;
}


form {
    margin-top: 10px;
    width: 100%;
    text-align: right;
    padding: 0px 20px;
}



input+input {
    margin-top: 10px;
}

textarea {
    margin-top: 10px;
    width: 100%;
    height: 92px;
    padding: 10px 10px;
    font-size: 20px;
    color: rgba(26, 29, 40, 0.5);
    resize: none;
    border: 1px solid rgba(206, 183, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    border-radius: 5px;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    height: 48px;
    padding: 0 15px;
    border: 1px solid rgba(206, 183, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 17px;
    font-weight: 400;
    color: #1a1d28;
    text-align: left;
}



form input+input {
    margin-top: 15px;
}



input:focus {
    border: 1px solid rgba(206, 183, 0, 0.4);
}



input[type="button"] {
    width: 120px;
    height: 46px;
    margin-top: 10px;
    text-align: center;
    background-color: var(--app-golden);
    border: 1px solid var(--app-golden);
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 26px 30px -10px, rgba(0, 0, 0, 0.1) 0px 16px 10px -10px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.2px;
    transition: all 0.25s ease-in-out;
    color: #fff;
    cursor: pointer;
}



input[type="button"]:hover {
    background-color: var(--app-golden-hover);
}

/* --------------------------------------- */

.send {
    background-color: var(--app-button);
    color: #fafafa;
    font-size: 20px;
    margin-left: 10PX;
    transition: background-color 0.25s ease-in-out;
    animation: translate 0.25s ease-in-out;
}

.clear-btn {
    color: var(--app-button);
    font-size: 20px;
    transition: background-color 0.25s ease-in-out;
    animation: translate 0.25s ease-in-out;
}

.submit-btn:hover,
.clear-btn:hover {
    background-color: var(--app-primary);
    transform: translatey(3px);
    color: #fafafa;
}