@import "./base.css";

/* -------------------------------*/
/*  Banner                        */
/* -------------------------------*/

:root {
    --app-dark-bg: #1a1d28;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
}


/* -------------------hero-banner-overlapped-content----------------------- */
div .title {
    margin-inline: auto;
    color: #fafafa;
    text-decoration: solid;
    text-shadow: 0px 2px 2px #352a4f;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: trans 0.5s ease-in;
}

div .title figure img {
    box-shadow: none;
}

div .title h1 {
    font-size: 40px;
    font-weight: 600;
}

div .title p {
    font-size: 25px;
}

.logo {
    width: 150px;
    height: 150px;
}