@import "./base.css";

/* -------------------------------*/
/*  Banner                        */
/* -------------------------------*/

:root {
    --app-dark-bg: #1a1d28;
    --app-red: #ff3c57;
    --app-green: #33ab4e;
    --app-purple: #833cff;
    --app-orange: #ff833c;
    --app-blue: #3c57ff;
    --app-blue-hover: #364ee6;
    --app-golden: #ceb700;
    --app-golden-hover: #baa600;
}


/* -------------------hero-banner-overlapped-content----------------------- */
div .title {
    margin-inline: auto;
    color: #fafafa;
    text-decoration: solid;
    text-shadow: 0px 2px 2px #352a4f;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: trans 0.5s ease-in;
}

div .title figure img {
    box-shadow: none;
}

div .title h1 {
    font-size: 40px;
    font-weight: 600;
}

div .title p {
    font-size: 25px;
}

.logo {
    width: 200px;
    height: 200px;
}


/* -------------------------------*/
/*  Service Section              */
/* -------------------------------*/


.projects , .about-us {
    color: #000;
    text-decoration: underline;
    text-decoration-color: var(--app-golden);
    text-underline-offset: 2px;
    text-underline-position: under;
    text-align: center;
    align-items: center;
    display: grid;
    height: 200px;
    font-size: 30px;
}

.column-text {
    font-size: 26px;
}

.column-bg {
    background-color: #f0f1f2;
    padding: 20px;
}

.row {
    display: flex;
    flex-flow: row wrap;
    gap: 20px;
}

.section-columns {
    margin: 80px 0;
}

.column {
    flex-grow: 1;
    width: calc(25% - 15px);
    border-radius: 6px;
    box-shadow: 0px 20px 48px 0px rgb(0 0 0 / 0.2);
    transition: all 0.25s ease-in-out;
}

.column:hover {
    translate: 0px -10px;
}

.btn , .btn-contact{
    margin-top: 30px;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    list-style: none;
    text-align: center;
    line-height: 40px;
    width: 140px;
    border-radius: 6px;
    border: 1px solid var(--app-golden);
    background-color: var(--app-golden);
    color: #fff;
    cursor: pointer;
}

.btn:hover , .btn-contact:hover {
    background-color: var(--app-golden-hover);
    transition: background-color 0.1s ease-in-out;
}




.one {
    background-color: #fff;
}

.two {
    background-color: #fff;
}

.three {
    background-color: #fff;
}

.four {
    background-color: #fff;
}

.box {
    text-align: left;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

div.box>h2,
p {
    margin-top: 10px;
}

div.box>div+p {
    margin-top: 10px;
}

img {
    width: 100%;
    height: 300px;
    border-radius: 6px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


div.box a {
    text-decoration: none;
}

/* -------------------------------*/
/*  Call to action                */
/* -------------------------------*/

.contact-section {
    padding: 20px;
}

.banner-text {
    text-align: left;
    display: grid;
    place-content: center;
    margin-left: 10px;
    padding: 20px;
    color: #000;
}
div.banner-text > h2 + p {
    margin-top: 10px;
}


.banner {
    min-height: 200px;
    margin: 80px 0;
    background-color: #f1f2f3;
    text-align: center;
    display: flex;
}

.btn-contact {
    margin: 10px 0;
    text-decoration: none;
}
.btn-banner:hover {
    background-color: #0035e9;
    transition: background-color 0.25s ease-in-out;
}

div.banner-text > h2 {
    text-decoration: underline;
    text-decoration-color: var(--app-golden);
    text-underline-offset: 2px;
    text-underline-position: under;
}




/* -------------------------------*/
/* Media Query                    */
/* -------------------------------*/


/* 
  1280px and down
*/

@media (max-width: 1281px) {
    .column {
        width: calc(50% - 10px)
    }

}


/* 
  980px and down
*/

/* @media (max-width: 980px) {

    .column1,
    .column2 {
        width: 100%;
    }

} */


/* 
  768px and down
*/

@media (max-width: 768px) {
    .column {
        width: calc(50% - 10px)
    }

    .box>h2 {
        font-size: 22px;
    }

    .box>p {
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
    }


}


/* 
  480px and down
*/

@media (max-width: 480px) {
    .column {
        width: 100%;
    }

    .column1,
    .column2 {
        width: 100%;
    }

}